<div class="jumbotron">
      <div class="container">
        <h1>Tentativa de acesso!</h1>
        <p>Caro usuário, é impossivel acessar o aplicativo sem estar logado.</p>
        <p>Caso tenha alguma duvida entre em contato com o suporte, obrigado.</p>
        <p><a class="btn btn-primary btn-lg" href="http://www.ddti.com.br" role="button">Nosso site &raquo;</a></p>
      </div>
    </div>
