            <div class="col-md-10">
                <div class="well">
                     <h5 class="text-primary">Imagem</h5>
				 <div align="center" class="embed-responsive embed-responsive-16by9">
                <%= image_tag url_for(:controller => "documents", :action => "show", :id => @document.id) %>
                </div>
                
                </div>
            </div>



